@import './order';

.account-page {
    .account-nav {
        border-right: 2px solid  $col-black-100;
        border-radius: 1px;
    }

    .account-content {
        margin: 42px 0;
    }

    .action-link-list {
        margin: 38px 14px;
        gap: 16px;
        display: flex;
        flex-direction: column;

        img {
            width: 24px;
            height: 24px;
        }
    }

    .action-link {
        border-radius: 8px;
        padding: 2px 18px;
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .action-link-active {
        background: $col-white-200;
    }
}

.logout-container {
    .warning-icon {
        width: 72px;
        height: 72px;
    }

    .logout-btn {
        background: $col-black-900;
        color: $col-white-100;
        border: none;
        font-weight:  $font-weight-medium;
        padding: 8px 12px;
        border-radius: 4px;

        @include media-breakpoint-up(lg) {
            padding: 12px 24px;
        }
    }
}

.user-detail {
    .user-image {
        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    }
    input {
        width: 264px;
        height: 45px;
        background: none;
        border: 1px solid $col-black-100;
        border-radius: 4px;
        padding: 0.75rem;
        outline: none;

        &::placeholder {
            color: $col-black-400;
        }
    }
}