.order-history-container {

    .arrow {
        width: 24px;
        height: 24px;
    }

    .order-history-btn {
        background: $col-black-900;
        color: $col-white-100;
        border: none;
        font-weight:  $font-weight-medium;
        padding: 8px 12px;
        border-radius: 4px;

        @include media-breakpoint-up(lg) {
            padding: 12px 24px;
        }
    }
}