:root {
    --skin-link-color-2: #212121;
}

// Base Colors
$col-white: #fff;
$col-black: #000;
$col-gray-800: #13131A;
$col-gray-600: #1E1E29;
$col-gray-400: #7F7F98;
$col-gray-100: #FAFAFA;

// Font Families
$font-family-base: "SUSE", sans-serif;

// Font Weights
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semibold: 600 !default;

// Layout & Spacings
$grid-breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 1024px,
    xl: 1280px,
);